---
  title: Articles
---
= partial 'header'
%main
  .row
    .small-12.columns
      %h3.subheader
        Articles
  - all_articles.each do |article|
    %article.article-preview-with-image
      .row.small-collapse.medium-uncollapse
        .small-12.columns
          = link_to "/articles/#{article.slug}", title: article.title do
            %figure
              = image_tag "#{article.featuredImage.url}?&fm=jpg&fl=progressive", alt: article.featuredImage.description, width: '100%', height: 'auto'
              %figcaption
                %time.publish-date
                  = format_date(article.date)
                %h1.article-title
                  = article.title
      .row
        .small-12.columns
          %p.blurb
            = article.blurb
          %p
            = link_to "/articles/#{article.slug}", title: "Read More - #{article.title} by #{author.name}", class: 'tiny hollow secondary button' do
              Read More
