---
  title: pixelsonly - Articles
  view_class: "articles-index"
---
= partial 'header'
%main{role: 'main', itemprop: 'mainEntityOfPage'}
  .row
    .small-12.columns
      %nav{role: 'navigation'}
        %ul.breadcrumbs
          %li
            = link_to 'Recent', '/', title: 'Recent Articles'
          %li.disabled
            Articles
  - all_articles.each do |article|
    %article.article-preview-with-image{itemscope: '', itemtype: 'http://schema.org/Article'}
      .row.small-collapse.medium-uncollapse
        .small-12.columns
          = link_to "/articles/#{article.slug}", title: article.title, itemprop: 'url' do
            %figure
              = image_tag "#{article.featuredImage.url}?&fm=jpg&fl=progressive", alt: article.featuredImage.description, width: '100%', height: 'auto', itemprop: 'image'
              %figcaption
                %time.publish-date{itemprop: 'datePublished', content: microdata_date(article.date)}
                  = publish_date(article.date)
                %h1.article-title{itemprop: 'headline'}
                  = article.title
      .row
        .small-12.columns
          %p.blurb{itemprop: 'description'}
            = article.blurb
          %p
            = link_to "/articles/#{article.slug}", title: "Read More - #{article.title} by #{author.name}", class: 'small hollow secondary button', itemprop: 'url' do
              Read More
