!!!
%html
  %head
    %title
      = current_page.data.title || 'Ryan Lindsey'
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width', name: 'viewport'}
    = partial 'meta'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans|Vollkorn:700'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'highlight'
    = stylesheet_link_tag 'app.bundle'
  %body{class: page_classes.dasherize}
    = yield
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'
    = javascript_include_tag 'app.bundle'
