!!!
%html{lang: 'en'}
  %head
    %title
      = current_page.data.title || data.site.title
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width', name: 'viewport'}
    = partial 'meta'
    %link{rel: 'canonical', href: config[:host] + current_page.url}
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,700,800|Vollkorn:400,700'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'highlight'
    = stylesheet_link_tag 'app'
    - if production?
      :javascript
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-2516002-12', 'auto');
        ga('send', 'pageview');
      <script async src='https://www.google-analytics.com/analytics.js'></script>
  %body{class: current_page.data.view_class || 'index'}
    .row
      .small-12.columns.text-right
        %button.js-menu-toggle{id: 'menu-open'}
          = image_tag 'assets/images/menu--control-open.svg'
    = yield
    = partial 'footer'
    = partial 'menu'
    = javascript_include_tag 'app'
    = yield_content :article_comments
