!!!
%html
  %head
    %title
      = current_page.data.title || 'Ryan Lindsey'
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width', name: 'viewport'}
    = partial 'meta'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,700,800|Vollkorn:400,700'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'highlight'
    = stylesheet_link_tag 'app.bundle'
  %body{class: page_classes.dasherize}
    = yield
    %footer
      .row
        .small-3.medium-1.medium-offset-4.large-2.large-offset-2.columns.text-center
          = link_to data.site.social.github.url, title: 'GitHub', class: 'social-link' do
            %i.fa.fa-github.fa-fw.fa-3x
        .small-3.medium-1.large-2.columns.text-center
          = link_to data.site.social.linkedin.url, title: 'LinkedIn', class: 'social-link' do
            %i.fa.fa-linkedin.fa-fw.fa-3x
        .small-3.medium-1.large-2.columns.text-center
          = link_to data.site.social.instagram.url, title: 'Instagram', class: 'social-link' do
            %i.fa.fa-instagram.fa-fw.fa-3x
        .small-3.medium-1.large-2.columns.text-center
          = link_to data.site.social.twitter.url, title: 'Twitter', class: 'social-link' do
            %i.fa.fa-twitter.fa-fw.fa-3x
      %p.copyright
        &copy;
        = DateTime.now.year
        Ryan Lindsey. All rights reserved.
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'
    = javascript_include_tag 'app.bundle'
