<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>
      <%= current_page.data.title || "pixelsonly" %>
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Vollkorn:700">
    <%= stylesheet_link_tag "app.bundle"  %>
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
    <%= javascript_include_tag "app.bundle" %>
  </body>
</html>
