!!!
%html{lang: 'en'}
  %head
    %title
      = current_page.data.title || 'pixelsonly'
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width', name: 'viewport'}
    = partial 'meta'
    %link{rel: 'canonical', href: config[:host] + current_page.url}
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,700,800|Vollkorn:400,700'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'highlight'
    = stylesheet_link_tag 'app.bundle'
  %body{class: current_page.data.view_class}
    .row
      .small-12.columns.text-right
        %button.js-menu-toggle{id: 'menu-open'}
          = image_tag 'assets/images/menu--control-open.svg'
    = yield
    = partial 'footer'
    = partial 'menu'
    = javascript_include_tag 'app.bundle'
    = yield_content :article_comments
