%header.hero
  %figure
    = link_to '/', title: 'Recent Articles' do
      = image_tag "#{author.profilePhoto.url}?w=400&fm=jpg&fl=progressive", alt: author.name, class: 'author-photo', width: '100%', height: 'auto'
    %figcaption
      %p.author-name
        = author.name
      %small.author-bio
        = author.biography
