---
title: pixelsonly.com
---
<header>
  <h1>
    <%= author[:name] %>
  </h1>
  <p>
    <%= author[:biography] %>
  </p>
</header>

<% data.blog.post.each do |id, post| %>
  <article>
    <a href="/articles/<%= post['slug'] %>" data-article-id="<%= post['id'] %>">
      <%= post['title'] %>
    </a>
  </article>
<% end %>
