---
  title: pixelsonly.com
---

%header
  %img{src: "#{author.profilePhoto.url}?w=60&fm=jpg&fl=progressive", alt: author.name}
  %h1
    = author.name
  %p
    = author.biography
%ul
  - recent_articles.each do |article|
    %li
      %article
        %a{href: "/articles/#{article.slug}", title: "Read #{article.title} by #{author.name}"}
          %p
            = article.title
            %br
            %time
              = format_date(article.date)
= link_to 'All Articles', '/articles', title: 'All Articles', class: 'button'
