---
title: pixelsonly.com
---
<header>
  <h1>
    <%= author.name %>
  </h1>
  <p>
    <%= author.biography %>
  </p>
  <img src=<%= author.profilePhoto.url + "?w=120&r=1000&fm=png" %> />
</header>

<% recent_posts.each do |id, post| %>
  <article>
    <a href="/articles/<%= post.slug %>" data-article-id="<%= post.id %>">
      <p>
        <%= post.title %>
        <br>
        <%= post.date.strftime("%B %d, %Y") %>
      </p>
    </a>
  </article>
<% end %>
