---
  title: Recent Articles
---
= partial 'header'
%section.recent-articles
  %section.articles
    .row
      .small-12.columns
        %h3.subheader
          Recent Articles
  - all_articles[0...1].each do |article|
    %article.article-preview-with-image
      = link_to "/articles/#{article.slug}", title: article.title do
        %figure
          %figcaption
            .row
              .small-12.columns
                %header.article-overlay
                  %time.publish-date
                    = format_date(article.date)
                  %h1.article-title
                    = article.title
          = image_tag "#{article.featuredImage.url}?&fm=jpg&fl=progressive", alt: article.featuredImage.description, width: '100%', height: 'auto'
      .row
        .small-12.columns
          %p.blurb
            = article.blurb
  - all_articles[1..3].each do |article|
    %article.article-preview
      = link_to "/articles/#{article.slug}", title: article.title do
        .row
          .small-12.columns
            %hr
          .small-3.columns
            %img{src: "#{article.featuredImage.url}?&w=200&h=200&fit=thumb&fm=jpg&fl=progressive", alt: article.featuredImage.description, class: 'article-thumbnail' }
          .small-9.columns
            %time.publish-date
              = format_date(article.date)
            %h2.article-title
              = article.title
  .row
    .small-12.columns
      = link_to '/articles', title: 'More Articles', class: 'hollow secondary button expanded' do
        More Articles
