---
  title: pixelsonly.com
---

%header
  %h1
    = author.name
  %p
    = author.biography
  %img{src: "#{author.profilePhoto.url}?w=400&fm=jpg&fl=progressive", size: '400x400', alt: author.name}

- recent_posts.each do |id, post|
  %article
    %a{href: "/articles/#{post.slug}", title: "Read #{post.title} by #{author.name}"}
      %p
        = post.title
        %br/
        = post.date.strftime("%B %d, %Y")
